body {
    background-color: rgb(100, 100, 100);
}
h1 {
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 40px;
}
.center {
    display: flex;
    justify-content: center;
}   
p {
    font-size: 35px;
}
img{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 350px;
}
a{
    font-size: 50px;
    text-align: center;
    margin: 10px;
    color: black;
}
ul{
    font-size: 45px;
}
table{
    font-size: 30px;
}